#gpaForm{
    margin-top: 100px;
    padding: 15px 25px;
    border-radius: 6px;
    box-shadow: 0 20px 15px rgba(0, 0, 0, .3);
    background-color:#191919;
}
#gpaForm input{
    background:none;
    color:white;
    height:50px;
    border:1px solid #007cc0;
    outline:none;
    width:90%;
    transition:all .3s ease;
}
#gpaForm input:focus{
    width:100%;
    border:1px solid #2dde98;
}